<!-- templates/homepage.twig -->
<!DOCTYPE html>
<html>
    <head><!-- whatever -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}

                {#<link rel="stylesheet" href="{{ asset('/../views/css/style.css') }}" media="all" />#}
                {#<link rel="stylesheet" href="{{ bootstrapPath }}" media="all" />#}

                    <link rel="stylesheet" href="{{'/../views/assets/bootstrap.css'}}" media="all" />
                    <link rel="stylesheet" href="{{ asset('/../views/css/style.css') }}" media="all" />


        {% endblock %}
    </head>
    <body>
        <div class="container">

            <ul id="finalList">
                <h1> Name of restaurants</h1>
                {% for item in finalList %}
                    <li><h3 ><small><strong>{{ item.placename|striptags|title }}</strong></small></h3></li>
                    <li>
                        <h4>
                            <small>{{ item.streetname }}</small>
                        </h4>
                    </li>
                    <li id = "last-child">
                        <h4>
                            <small>{{ item.zipcode }}</small>
                        </h4>
                    </li>


                {% endfor %}
            </ul>
        </div>
    </body>
</html>