<!-- templates/homepage.twig -->
<!DOCTYPE html>
<html>
    <head><!-- whatever -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}

                {#<link rel="stylesheet" href="{{ asset('/../views/css/style.css') }}" media="all" />#}
                {#<link rel="stylesheet" href="{{ bootstrapPath }}" media="all" />#}

                    <link rel="stylesheet" href="{{'/../views/assets/bootstrap.css'}}" media="all" />
                    <link rel="stylesheet" href="{{ asset('/../views/css/style.css') }}" media="all" />


        {% endblock %}
    </head>
    <body>
        <div class="container">

            <ul id="finalList">
                <h1> Name of restaurants</h1>
                {% for item in finalList %}
                    <li class="restaurant"><h3 ><strong>{{ item.placename|striptags|title }}</strong></h3>

                        <h4>
                            {{ item.streetname }}
                        </h4>


                        <h4>
                            {{ item.zipcode }}
                        </h4>
                    </li>


                {% endfor %}
            </ul>
        </div>
    </body>
</html>