<!-- templates/homepage.twig -->
<!DOCTYPE html>
<html>
    <head><!-- whatever -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}

                {#<link rel="stylesheet" href="{{ asset('/../views/css/style.css') }}" media="all" />#}
                {#<link rel="stylesheet" href="{{ bootstrapPath }}" media="all" />#}

                    <link rel="stylesheet" href="{{'/../views/assets/bootstrap.css'}}" media="all" />
                    <link rel="stylesheet" href="{{ asset('/../views/css/style.css') }}" media="all" />


        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>Vegetarian restaurants in Amsterdam</h1>
            <div id="map-canvas">test</div>
            <ul id="finalList">

                {% for item in finalList %}
                    <li class="restaurant"><h3 ><strong>{{ item.placename|striptags|title }}</strong></h3>

                        <h4>
                            {{ item.streetname }}
                        </h4>


                        <h4>
                            {{ item.zipcode }}
                        </h4>
                    </li>


                {% endfor %}
            </ul>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}"></script>
        <script src="{{ asset('/../views/js/jsonprocessor.js') }}"></script>
        <script src="{{ asset('/../views/js/helper.js') }}"></script>
        <script src="{{ asset('/../views/js/map.js') }}"></script>
        <script src="{{ asset('/../views/js/asyncProcessor.js') }}"></script>
        <script src="{{ asset('/../views/js/mapProcessor.js') }}"></script>


    </body>
</html>