<!-- templates/homepage.twig -->
<!DOCTYPE html>
<html>
    <head><!-- whatever -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}

                {#<link rel="stylesheet" href="{{ asset('/../views/css/style.css') }}" media="all" />#}

                    <link rel="stylesheet" href="{{ asset('/../views/css/style.css') }}" media="all" />
                    <link rel="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" />
                    <link rel="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet" />


        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <h1 class = "main-title">Vegetarian Restaurants</h1>
            <h2 class = "mini-title">in</h2>
            <h3>Amsterdam</h3>
            <div id="map-canvas">test</div>
            <ul id="finalList">

                {% for item in finalList %}
                    <li class="restaurant"><h3 ><strong>{{ item.placename|striptags|title }}</strong></h3>

                        <h4>
                            {{ item.streetname }}
                        </h4>


                        <h4>
                            {{ item.zipcode }}
                        </h4>
                    </li>


                {% endfor %}
            </ul>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ apiKey }}"></script>
        <script src="{{ asset('/../views/js/global.js') }}"></script>
        <script src="{{ asset('/../views/js/ajaxHelper.js') }}"></script>
        <script src="{{ asset('/../views/js/mapHandler.js') }}"></script>
        <script src="{{ asset('/../views/js/app.js') }}"></script>
    </body>
</html>